.parent{
    width: 400px; 
    height: 400px; 
    background-color: green; 
}

.child{
    width: 200px; 
    height: 200px; 
    background-color: red; 
}

.parent:hover .active{
        animation: stretch 1s linear; 
}

@keyframes stretch{
    0% {
        background-color: green; 
    }
    25% {
        transform: translateX(100%); 
    }
    50% {
        transform: translate(100%, 100%); 
    }
    75% {
        transform: translateY(100%); 
    }
    100% {
        background-color: red; 
    }
}